@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@200&display=swap');
body{
    margin:0;
    padding:0;
    background-color: #EEF1FF;
}
.navbarH{
    width:100vw;
    position: fixed;
    top:0;
    left:0;
    background-color: #6c9ee8;
    padding:0;
    height:56px;
    z-index:999;
}

.titleH{
    font-family: 'Kaushan Script';
font-style: normal;
font-weight: 400;
font-size: 1.5rem;
line-height: 58px;
width:40px;
margin-top: 0;
margin-left:2vw;
color: rgba(255, 255, 255, 0.9);
}
.navbarName3{
    float: right;
    margin:0;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 900;
font-size: 1.1rem;
    color: rgba(255, 255, 255, 0.9);
    margin-top:-65px;
    margin-right:24vw;
    cursor: pointer;
}
.navbarName1{
    float: right;
    margin:0;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 900;
font-size: 1.1rem;
    color: rgba(255, 255, 255, 0.9);
    margin-top:-65px;
    margin-right:13vw;
    cursor: pointer;
}
.navbarName2{
    float: right;
    margin:0;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 900;
font-size: 1.1rem;
    color: rgba(255, 255, 255, 0.9);
    margin-top:-65px;
    margin-right:5vw;
    cursor: pointer;
}
.navbarProfile{
    float:right;
    margin-top:-65px;
    margin-right:1.5vw;
    cursor: pointer;
}